<!DOCTYPE html>
<%- include("./partials/head.ejs") %>
<html lang="en">

<body>
<%- include("./partials/nav.ejs") %>
<div class="container-fluid core">
    <h2>404</h2>
</div>
<%- include("./partials/footer.ejs") %>
</body>
</html>