<!DOCTYPE html>
<%- include("./partials/head.ejs") %>
<html lang="en">

<body>
<%- include("./partials/nav.ejs") %>

<div class="mx-auto core" style="width: 200px;">
    <h3 class="mx-auto">Contacts</h3>
    <p>samuel1820@gmail.com</p>
    <p>cislo: 09</p>
</div>
    
<%- include("./partials/footer.ejs") %>
</body>
</html>