<!DOCTYPE html>
<%- include("./partials/head.ejs") %>
<html lang="en">

<body>
    <%- include("./partials/nav.ejs") %>
    <div class="row blue first">
        <div class="col-lg-4 p-3">
            <div class="row nav">
                <div class="scrollbar slidebar">
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
                    </li>
                    <li class="important">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
                    </li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
                    </li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
                    </li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
                    </li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
                    </li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
                    </li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
                    </li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
                    </li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
                    </li>
                </div>
            </div>
        </div>
        <div class="col-lg-8 p-3">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 p-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
            quisquam perferendis sint. Dolores quis reprehenderit et magni
            excepturi quisquam officia nam dolorum.
        </div>
        <div class="col-sm-6 p-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
            quisquam perferendis sint. Dolores quis reprehenderit et magni
            excepturi quisquam officia nam dolorum.
        </div>

    </div>
    <div class="row blue">
        <div class="container-fluid col-xl-12 d-flex align-items-center justify-content-center">
            <h2>Section 2</h2>
        </div>
        <div class="container-fluid p-5 col-xl-12 d-flex align-items-center justify-content-center">

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
                quisquam perferendis sint. Dolores quis reprehenderit et magni
                excepturi quisquam officia nam dolorum.
            </p>
        </div>
    </div>
    <div class="row gray">
        <div class="container-fluid col-xl-12 d-flex align-items-center justify-content-center">
            <h2>Section 2</h2>
        </div>
        <div class="container-fluid p-5 col-xl-12 d-flex align-items-center justify-content-center">

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
                quisquam perferendis sint. Dolores quis reprehenderit et magni
                excepturi quisquam officia nam dolorum.
            </p>
        </div>
    </div>
    <div class="row white">
        <div class="container-fluid col-xl-12 d-flex align-items-center justify-content-center">
            <h2>Section 2</h2>
        </div>
        <div class="container-fluid p-5 col-xl-12 d-flex align-items-center justify-content-center">

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
                quisquam perferendis sint. Dolores quis reprehenderit et magni
                excepturi quisquam officia nam dolorum.
            </p>
        </div>
    </div>
    <div class="row gray">
        <div class="container-fluid col-xl-12 d-flex align-items-center justify-content-center">
            <h2>Section 2</h2>
        </div>
        <div class="container-fluid p-5 col-xl-12 d-flex align-items-center justify-content-center">

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Beatae officiis cum molestiae laboriosam iusto quis soluta culpa
                quisquam perferendis sint. Dolores quis reprehenderit et magni
                excepturi quisquam officia nam dolorum.
            </p>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>


</body>

</html>